.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Початковий стан для анімації (трохи нижче центру) */
  transform: translate(-50%, -40%);
  width: 95%;
  max-width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  opacity: 0;
  animation: slideUp 0.3s ease-out forwards;
}

.closeBtn {
  position: absolute;
  top: 40px;
  right: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 407px) {
  .closeBtn {
    top: 24px;
    right: 24px;
  }
}

.closeBtn svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closeBtn:hover,
.closeBtn:focus {
  background-color: #404bbf;
  border: none;
}
.closeBtn:hover svg,
.closeBtn:focus svg {
  fill: #ffffff;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
  margin-bottom: 16px;
}

/* Форма */
.reviewFormWrapper {
  margin-bottom: 8px;
}

.reviewFormLabel {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.reviewFormInputWrapper {
  position: relative;
}

.reviewFormInput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviewFormInput:focus {
  border-color: #4d5ae5;
}

.reviewFormIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.reviewFormInput:focus + .reviewFormIcon {
  fill: #4d5ae5;
}

.reviewFormCommentWrapper {
  margin-bottom: 16px;
}

.reviewFormComment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviewFormComment:focus {
  border-color: #4d5ae5;
}

.reviewFormCheckboxWrapper {
  margin-bottom: 24px;
}

.reviewFormCheckboxLabel {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.reviewFormOwnCheckbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

input[type="checkbox"]:checked
  + .reviewFormCheckboxLabel
  .reviewFormOwnCheckbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.reviewFormPrivacyLink {
  color: #4d5ae5;
}

.reviewFormBtn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.reviewFormBtn:hover,
.reviewFormBtn:focus {
  background-color: #404bbf;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translate(-50%, -50%); /* Повертається рівно в центр */
  }
}

/* Класи, які будуть додаватися перед закриттям */
.backdropClosing {
  animation: fadeOut 0.3s ease-in forwards;
}

.modalClosing {
  animation: slideDown 0.3s ease-in forwards;
}

/* Анімації закриття (зворотні до відкриття) */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}
