:root {
  --NAVY-BLUE: #2e2f42;
  --SLATE: #434455;
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --WHITE: #ffffff;
  --DAIRY: #fcfcfc;
  --GREY: #2e2f42;
}

/* Глобальне скидання (Reset) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--WHITE);
  color: var(--SLATE);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

/* Container */
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet Breakpoint */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop Breakpoint */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
